<footer class="footer">
  <small>
    Sample Application by Jun
    </Small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "contact", contact_path %></li>
      </ul>
    </nav>
</footer>

